@media only screen and (min-width: 951px) {
  .aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2dfdd;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 50px;
    border: none;
  }
  .aboutMeColumn {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 60px;
  }
  .aboutMe {
    font-size: 6.5rem;
  }
  .welcomeStatement {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
    transform: translateX(-90px);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 0rem;
    padding-top: 3rem;
  }
  .descriptionText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    max-width: 550px;
    font-size: 2rem;
    text-align: start;
    /* transform: translateY(-80px); */
  }
  .headshot {
    width: 600px;
    height: 600px;
    z-index: 0;
  }

  .headshotRow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
  }
  .yellowBox {
    width: 900px;
    height: 900px;
    background-color: transparent;
    transform: translate(0px, -250px);
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .yellowBoxRow {
    max-width: 600px;
    width: 100%;
  }
  h1 {
    padding: 0;
    margin: 0;
    font-size: 6.5rem;
  }
  .aboutSocialIcon {
    width: 3rem;
    height: 3rem;
    margin: 0px 20px 0px 20px;
    fill: black;
  }
  .aboutSocialIcon:hover {
    width: 3rem;
    height: 3rem;
    margin: 0px 20px 0px 20px;
    fill: black;

    border-radius: 5%;
    box-shadow: 0 0 5px 0px rgba(67, 67, 67, 0.8);
  }
  .aboutSocialIcon:hover::before {
    content: "Your text here";
    color: black;
    font-size: 20px;
    position: absolute;
    left: calc(100% + 10px);
    top: calc(100% + 10px);
    z-index: 1111111111111111111111111;
  }

  .iconRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    cursor: pointer;
  }
  .iconColumn {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    justify-content: center;
    padding-bottom: 3rem;
    /* transform: translate(10px, -80px); */
  }
  .iconTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .blackBar3 {
    width: 5px;
    height: 90px;
    background-color: black;
    transform: translate(-33rem, -60rem);
    position: relative;
  }
  .blackBar4 {
    width: 90px;
    height: 5px;
    background-color: black;
    transform: translate(-30.33rem, -60rem);
    position: relative;
  }
}
@media only screen and (max-width: 950px) {
  .aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2dfdd;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 100px;
  }
  .aboutMeColumn {
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 60px;
  }
  .aboutMe {
    font-size: 6.5rem;
  }
  .welcomeStatement {
    font-size: 7vw;
    margin-bottom: 2rem;
    text-align: center;
    /* transform: translate(150px, -430px); */
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
    transform: translateX(-25px);
  }
  .descriptionText {
    font-size: 20px;
    width: 90%;
    max-width: 550px;
    text-align: start;
  }
  .descriptionColumn {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4rem;
  }
  .headshot {
    width: 200px;
    height: 200px;
    z-index: 0;
  }
  .loadingImage {
    background-color: grey;
    width: 200px;
    height: 200px;
  }
  .headshotRow {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .yellowBox {
    width: 95%;
    max-width: 600px;
    max-height: 900px;
    background-color: transparent;
    transform: translate(0px, -2rem);
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .yellowBoxRow {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  h1 {
    padding: 0;
    margin: 0;
    font-size: 6.5rem;
  }
  .aboutSocialIcon {
    width: 3rem;
    height: 3rem;
    margin: 0px 20px 0px 20px;
    fill: black;
  }
  .aboutSocialIcon:hover {
    width: 3rem;
    height: 3rem;
    margin: 0px 20px 0px 20px;
    fill: black;
    background-color: #f0d460;
    border-radius: 5%;
    box-shadow: 0 0 5px 0px rgba(67, 67, 67, 0.8);
  }

  .iconRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    cursor: pointer;
  }
  .iconColumn {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    height: 100%;
  }
  .iconTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .blackBar3 {
    width: 50px;
    height: 60px;
    background-color: black;
  }
  .blackBar4 {
    width: 60px;
    height: 50px;
    background-color: black;
  }
}
