.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: #fff;
  z-index: 9999; /* Ensures that the navbar appears on top of other elements */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mid-section {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  position: relative;
}
.title-row {
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11111111111;
}
.head-title {
  font-size: 30px;
  letter-spacing: 1px;
}
.head-dropdown {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hamburger {
  right: 0;
  height: 200px;
  width: 150px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #333;
  transform: translateY(0px);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.ham-icon {
  background-image: url(/src/assets/icons/menu.svg);
  height: 20px;
  width: 20px;
  transform: translate(-10px, -35px);
}
a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  height: 50px;
  text-decoration: none;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.hamburger-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hamburger-menu.open {
  opacity: 1;
  visibility: visible;
}
